%h2
  如何在华人集市快速发布信息？
%p
  以发布二手货信息为例，
%p
  第一步：点击右上角红色的发布信息按钮，选择分类，如果有子分类，会提示选择子分类
  = image_tag("about/select_category.png")
%p
  第二步：选择交易类型，包括：出售，免费赠送，交换
  = image_tag("about/select_type.png")
  %ul
    %li
      出售：就是我要以一定的价格卖掉二手货
    %li
      免费赠送：就是我可以把这个二手货免费送给别人
    %li
      交换：是我想用我已有的东西跟他人交换
%p
  第三步：填写二手货的基本信息，包括标题，价格，详细描述，付款方式，截止日期
  = image_tag("about/basic_info.png")
  %ul
    %li
      标题：用简短，准确地文字描述二手货的名字
    %li
      价格：单位是澳元
    %li
      详细描述：可以尽可能详细描述你的二手货的特点及状况，同时你可以在描述中说明联系的电话或者交易的方式
    %li
      付款方式：告诉别人你能接受的付款方式，一共有三种可以选择
      %ul
        %li
          现金：当面现金交易
        %li
          银行转账：可以当面通过手机银行转账
        %li
          Paypal：通过Paypal账号转账
    %li
      截止日期：超过这个时间，该条信息会自动下线
%p
  第四步：填写或者选择地点：填写或者在Google地图上选择正确的地址，填写地址有利于其他用户通过地图快速搜索和过滤
  %br
  = image_tag("about/select_address.png")
  %br
  %b
    注意：如果浏览器提示是否允许网站使用当前位置信息，建议选择允许。
%p
  第五步：上传图片，每张图片大小不能超过20M。点击选择文件，从你的电脑或者手机中选择图片或者照片。
  %br
  = image_tag("about/upload_pic.png")
  %ul
    %li
      图片上传的过程中会显示上传的百分比
      %br
      = image_tag("about/uploading.png")
    %li
      上传完后，网站会对图片进行处理并存储，需要等待一小会
      %br
      = image_tag("about/pic_processing.png")
    %li
      图片上传成功后就会显示上传成功的图片
      %br
      = image_tag("about/upload_done.png")
    %li
      如果想要删除图片，可以点击图片右上角的删除小按钮
%p
  最后一步，图片上传和处理完毕后，点击“发布”就会成功地发布一条信息。
