- content_for :javascript do
  initialize_homepage();

- content_for :title_header do
  - with_big_cover_photo do
    %h1.marketplace-lander-content-title= community_slogan.html_safe
    %p= community_description.html_safe

%h2.people-header
  = t('homepage.new_used')
  %a{href: "http://auused.#{APP_CONFIG.domain}", class: 'link-more'}
    = t('homepage.see_more')

.col-12
  .home-fluid-thumbnail-grid-wide
    .home-fluid-thumbnail-grid
      = render :partial => "grid_item", :collection => @latest_used_listings, :as => :listing

%h2.people-header
  = t('homepage.new_rent')
  %a{href: "http://aurent.#{APP_CONFIG.domain}", class: 'link-more'}
    = t('homepage.see_more')

.col-12
  .home-fluid-thumbnail-grid-wide
    .home-fluid-thumbnail-grid
      = render :partial => "grid_item", :collection => @latest_rent_listings, :as => :listing

