.row
  .col-12
    %ul.footer-nav
      %li
        = link_to about_infos_path, :class => 'home-categories-link' do
          = icon_tag("information", ["icon-with-text"])
          = t("header.about")
      %li
        = link_to new_user_feedback_path, :class => 'home-categories-link' do
          = icon_tag("feedback", ["icon-with-text"])
          = t("header.contact_us")
      %li
        - if @current_user && @current_community && @current_user.has_admin_rights_in?(@current_community)
          = link_to edit_details_admin_community_path(@current_community), :class => 'home-categories-link' do
            = icon_tag("admin", ["icon-with-text"])
            = t("layouts.logged_in.admin")
      %li
        © 2015 HuaRenJS
