#header-www-new-listing.toggle-menu.header-toggle-menu-user.hidden

  = new_community_listing_link('auused', 'balloon', t("menu.used"))

  = new_community_listing_link('aurent', 'housing', t("menu.rent"))

  = new_community_listing_link('ausocial', 'activities', t("menu.social"))

  = new_community_listing_link('aulife', 'delivery', t("menu.life"))

  = new_community_listing_link('aujob', 'job', t("menu.job"))
