#header-user-desktop-anchor.header-user-toggle.header-hover.toggle{data: {toggle: '#header-user-toggle-menu', 'toggle-anchor-position' => 'left', 'toggle-position' => 'absolute'}}
  .header-user-toggle.header-hover.toggle{data: {toggle: '#header-user-toggle-menu', 'toggle-anchor-position' => 'right', 'toggle-position' => 'absolute'}}
    #header-user-mobile-anchor
      .left
        = link_to "#", :class => "head-image-link" do
          = image_tag user.image.url(:thumb), alt: '', class: 'header-user-avatar'
          - if unread_count > 0
            .new-badge.hidden-large-mobile{:class => get_badge_class(unread_count)}
              = unread_count
      .left
        %span.header-text-link
          %span#header-user-display-name.visible-tablet-inline
            = user.name(@current_community)
          = icon_tag("dropdown", ["icon-dropdown"])
