.row.visible-tablet
  .col-12.menu-wraper
    #cssmenu
      %ul
        %li{:class => request.host_with_port == APP_CONFIG.domain ? 'active' : ''}
          %a{:href => APP_CONFIG.domain}
            %span
              = t("menu.home")
        %li{:class => @current_community.ident == 'auused' ? 'active' : ''}
          %a{:href => "http://auused.#{APP_CONFIG.domain}"}
            %span
              = t("menu.used")
        %li{:class => @current_community.ident == 'aurent' ? 'active' : ''}
          %a{:href => "http://aurent.#{APP_CONFIG.domain}"}
            %span
              = t("menu.rent")
        %li{:class => @current_community.ident == 'aulife' ? 'active' : ''}
          %a{:href => "http://aulife.#{APP_CONFIG.domain}"}
            %span
              = t("menu.life")
        %li{:class => @current_community.ident == 'ausocial' ? 'active' : ''}
          %a{:href => "http://ausocial.#{APP_CONFIG.domain}"}
            %span
              = t("menu.social")
        %li.last{:class => @current_community.ident == 'aujob' ? 'active' : ''}
          %a{:href => "http://aujob.#{APP_CONFIG.domain}"}
            %span
              = t("menu.job")
